
#news {
    a.title:link, a.title:hover, a.title:visited, a.title:active{
        text-decoration: none;
    }
    .is-ancestor{
       padding: 32px; 
    }
    h4.feed-item-title{
        a:link, a:hover, a:visited, a:active{
            color: #2e7ec8;
            font-size: 16px;
        }
    }
    p{
        font-size: 12px;
    }
    div.SecMagContent{
        height: 150px;
        overflow: auto;
    }
    div.rss2html-note{
        display: none;
    }
}
