@import "./node_modules/bulma/sass/utilities/initial-variables";
$orange: #EC644B;
$blue: #446CB3;
$red: #D24D57;
$dark: #363636;
$primary: $orange;
/*Font linked in <head> of html pages*/
$family-primary: "Lato", sans-serif;
@import "./node_modules/bulma/sass/utilities/_all.sass";

@import "./node_modules/bulma/sass/base/_all.sass";

@import "./node_modules/bulma/sass/elements/_all.sass";

@import "./node_modules/bulma/sass/grid/_all.sass";

@import "./node_modules/bulma/sass/components/card.sass";
@import "./node_modules/bulma/sass/components/nav.sass";
@import "./node_modules/bulma/sass/components/menu.sass";

@import "./node_modules/bulma/sass/layout/hero.sass";
@import "./node_modules/bulma/sass/layout/section.sass";

.nav {
    height: 75px;

    .nav-menu {
        text-transform: uppercase;
    }

    /*The below keeps the hamburge menu centered (displayed on mobile layout)*/
    .nav-toggle{
        margin: auto;
        /*The below increases the hit area*/
        height: 100%;
    }
}

#footer{
    a{
        color: $primary;
        &:hover{
            color: $light;
        }
    }
}

/*The below is for the Landing (i.e. Home / Game+About) Page only*/
#landing {

    /*The below is used to keep elements from being too wide on desktop (particularly text)*/
    .desktop-width-limited{
        @include desktop{
            .container{
                width: 48%;
            }
        }
    }

    .hero-head{
        .title{
            text-transform: uppercase;
            margin-top: 100px;
            margin-bottom: 50px;
        }
    }

    #game{

        &.columns{ /* For the grid making up the entirety of the game section */
            margin-bottom: 0px;
        }

        #game-play {
            .hero-body {
                background-image: url("./assets/landingpage_background.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-attachment: fixed;
            }
        }

        #game-info{
            a{
                color: $primary;
            }
        }
    }

    /*This is for the notification message / toast that appears when a user
    attempts to play the game on mobile*/
    #mobile-warning {
        width: 100%;
        visibility: hidden; /* Hidden by default. Visible on click */
        position: fixed; /* Sit on top of the screen */
        z-index: 1; /* Add a z-index to overlap other HTML elements (increase if needed) */
        bottom: 0px; /*Change this for the toast to be higher than the bottom of the screen
                    adjust animations accordingly if done so*/
        padding: 16px;

        /* Show the snackbar when clicking on a button (class added with JavaScript) */
        &.show {
          visibility: visible; /* Show the snackbar */

           /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
           However, delay the fade out process for 2.5 seconds */
          -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
          animation: fadein 0.5s, fadeout 0.5s 4.5s;
        }

        /* Animations to fade the snackbar in and out */
        @-webkit-keyframes fadein {
          from {bottom: 0; opacity: 0;}
          to {bottom: 0px; opacity: 1;}
        }
        @keyframes fadein {
          from {bottom: 0; opacity: 0;}
          to {bottom: 0px; opacity: 1;}
        }
        @-webkit-keyframes fadeout {
          from {bottom: 0px; opacity: 1;}
          to {bottom: 0; opacity: 0;}
        }
        @keyframes fadeout {
          from {bottom: 0px; opacity: 1;}
          to {bottom: 0; opacity: 0;}
        }
    }

    #navbtns{
        a{
            margin-left: 8px;
            margin-right: 8px;
            @include mobile{
                margin: 8px;
            }
        }
    }

    #team {

        #original-team.hero-head .title{
            margin-top: 0px;/*TODO: There's gotta be a cleaner way of doing this w/ "&" and nth-child*/
        }

        .headshot {
            height: 150px;
            width: 150px;
            border-radius: 50%;
        }

        .hero-body {

            /*The team members' roles are the subtitles*/
            .team-member .subtitle {
                text-transform: uppercase;
                font-weight: bold;
            }

            /*Applies to all text below each team member's photo*/
            .team-member p {
                margin-top: 25px;
                a{
                    color: $primary;
                    &:hover{
                        color: $dark;
                    }
                }
            }

        }

    }

    #about{

        .hero-body{

            .title{
                /*The nth-child(1n+2) below is so the margin top only applies to elements after the first.
                Note that "1n" is used instead of "n" in order to support old Android browsers.*/
                &.is-spaced:nth-child(1n+2){
                    margin-top: 50px;
                }
            }

            .video{
                margin-top: 50px;
                iframe{
                    width: 100%;

                    @include mobile{/* < 768px width*/
                        height: 432px;

                        @media screen and (max-width: 480px){/* special case for most mobile devices */
                            height: 240px;
                        }
                    }

                    @include tablet-only{/* from 769px until 999px width */
                        height: 480px;
                    }

                    @include desktop{/* >= 1192px width*/
                        height: 512px;
                    }

                }
            }


        }

    }
}

/*The below is for the Exercises Page only*/
#exercises{
    //general css
    #welcome_container {
        background: #FF5F6D;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        .title, .subtitle{
            color: white;
        }
        .title {
            font-size: 70px;
        }
    }
    .title {
        color: $primary;
    }
    h1 {
        margin-top: 12px;
        border-bottom: 2px solid lightgray;
        border-radius: 3px;
        padding: 3px;
    }
    .highlight {
        font-weight: 700;
    }
    #mycolumns {
        margin: 0px;
    }
    
    .blurry-text {
        color: transparent;
        text-shadow: 0 0 5px rgba(0,0,0,0.5);
    }

    //Menu Column
    #menu_column{
        background-color: $primary;
        padding-left: 2vw !important;
        #menu {
            margin-top: 10vh;
            p {
                color: white;
            }
            .is-active {
                background-color: $dark;
            }
        }
    }

    //Navegation Arrows
    .prev_next_container {
        height: 24px;
        #left {
            margin-left: 25px;
        }
        #right {
            margin-right: 25px;
        }
        i {
            color: $primary;
            font-size: 1.8em;
            &:hover {
                cursor: pointer;
                font-size: 2.2em;
            }
        }
        .notification {
            margin-bottom: 0px;
            padding-top: 8px;
            padding-bottom: 10px;
        }
    }

    //phishing learn
    #phishing_learn {
        ol {
            margin-left: 15px;
        }
    }

    //phishing exercise
    #center_column {
        /*
        background-image: url(http://freedesignfile.com/upload/2017/02/White-abstract-background-with-wave-vector-illustration-01.jpg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100% 40vh;
        */
        border-right: 1px solid $primary;
        top-padding: 0px;
        #test_container {
            height: 100vh;
            overflow: hidden;
            position: relative;
        }
        #test_head_container {
            #test_head {
                color: $primary;
                margin-top: 2.5vh;
                margin-bottom: 2.5vh;
                font-family: Garamond;
            }

        }

        #test_card {
            background-color: white;
            margin-top: 4vh;
            margin-bottom: 4vh;
            border-radius: 5px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            position: relative;
            .test_image {
                padding: 5px;
                width: 75vh;
                height: auto;
            }
            .test_card_footer {
                border-top: 1px solid lightgray;
                padding-bottom: 5px;
                padding-top: 5px;
                .question {
                    margin-bottom: 5px;
                }
                .toast {
                    height: 18px;
                    margin-top: 5px;
                }
            }
        }
    }

    #right_column {
        top-padding: 0px;
        .feedback_head {
            height: 10vh;
            h2 {
                background-color: #eaeced;
                border-radius: 2px;
                border-left: 5px solid rgb(200,200,200);
                margin-top: 2.5vh;
                padding: 10px;

            }
        }

        .is-parent {
            div {
                background-color: rgb(246, 248, 250);
            }
        }
    }

    //password exercise
    #passwords_exercise {
        //how secure is my password
        #how_secure {
            padding: 40px;
            position: relative;
            font-family: sans-serif;
            font-size: 1em;
            font-weight: 300;
            input {
                font-family: sans-serif;
                font-size: 1em;
                font-weight: 300;
                color: #888;
                border: 1px solid #bbb;
                border-radius: 3px;
                padding: 0.25em 10px;
                line-height: 1.5em;
            }

            label::after {
                content: ":";
            }

            div {
                margin-bottom: 10px;
            }

            .hsimp-time {
                display: inline;
                margin-left: 10px;
            }

            .hsimp-checks li {
                list-style: none;
            }

            .hsimp-checks h2 {
                font-size: 0.8em;
                margin-bottom: 0;
            }

            .hsimp-checks p {
                margin-top: 0;
                font-size: 0.7em;
            }
            .hsimp-results {
                margin-top: 10px;
                position: sticky;
            }
            #password-1 {
                width: 50vw;
            }
        }
    }
}
/*The below is for the News Page only*/
#news {}
/*The below is for the Videos Page only*/
#videos {}
/*The below is for the Resources Page only*/
#resources {

    .columns{
        padding: 32px;

        @include mobile{
            padding: 4px;
        }

        #resource-cards{
            #category-tags{
                span.tag{
                    margin-left: 8px;
                }
            }
        }

        .resource-card{
            margin: 32px;

            @include mobile{
                margin: 4px;
                margin-top: 16px;
            }

        }

    }

    #category-tags span{
        margin-bottom: 5px;
    }

}
