@import "./node_modules/bulma/sass/utilities/initial-variables";
$orange: #EC644B;
$blue: #446CB3;
$red: #D24D57;
$primary: $orange;
@import url( 'https://fonts.googleapis.com/css?family=Lato');
$family-primary: "Lato", sans-serif;
@import "./node_modules/bulma/bulma";

.nav {
    height: 75px;

    .nav-menu {
        text-transform: uppercase;
    }

    /*The below keeps the hamburge menu centered (displayed on mobile layout)*/
    .nav-toggle{
        margin: auto;
        /*The below increases the hit area*/
        height: 100%;
    }
}

.footer {
    background-color: $dark;

    p {
        color: #fefefe;
    }

    a:hover {
        color: $primary;
    }
}

footer {
    height: 75px;
}
/*The below is for the Landing (i.e. Home / Game+About) Page only*/
#landing {

    #game {
        .hero-body {
            background-image: url("https://unsplash.it/g/1920/1200/?image=60");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
        .title {
            text-transform: uppercase;
        }
    }

    #team {
        .hero-head {
            .title {
                text-transform: uppercase;
                margin-top: 100px;
                @mixin desktop {
                    /*For centering the headshots on desktop below the "Our Team"*/
                    margin-bottom: -100px;
                }
            }
        }

        .headshot {
            height: 150px;
            width: 150px;
            border-radius: 50%;
        }

        .hero-body {
            /*The team members' roles are the subtitles*/
            .team-member .subtitle {
                text-transform: uppercase;
                font-weight: bold;
            }
            /*Applies to all text below each team member's photo*/
            .team-member p {
                margin-top: 25px;
            }

            #omkar {
                a:hover {
                    color: $primary;
                }
            }
        }
    }

    #about{

        .hero-head {
            .title {
                text-transform: uppercase;
                margin-top: 100px;
            }
        }

        .video{
            width: 100%;
            height: 100%;
        }

        /*The below is for the video to appear larger on desktop screens and above*/
        .video.is-hidden-touch{
            iframe{
                width: 1280px;
                height: 720px;
            }
        }

    }
}

/*The below is for the Exercises Page only*/

/*The below is for the News Page only*/
#news {}
/*The below is for the Videos Page only*/
#videos {}
