@import "./node_modules/bulma/sass/utilities/initial-variables";

$orange: #EC644B;
$blue: #446CB3;
$red: #D24D57;

$primary: $orange;

 @import url('https://fonts.googleapis.com/css?family=Lato');
$family-primary: "Lato", sans-serif;

@import "./node_modules/bulma/bulma";

.nav{
    height: 75px;
}

.nav-menu{
    text-transform: uppercase;
}

.footer{
    background-color: $dark;
    p{
        color: #fefefe;
    }
    a:hover{
        color: $primary;
    }
}

footer {
    height: 75px;
}

/*The below is for the Landing (i.e. Home / Game+About) Page only*/
#landing {

    #game{
        .title{
            text-transform: uppercase;
        }
    }

    #about{
        .hero-head{
            .title{
                text-transform: uppercase;
                margin-top: 100px;

                @mixin desktop{
                    /*For centering the headshots on desktop*/
                    margin-bottom: -100px;
                }
            }
        }
        .headshot{
            height: 150px;
            width: 150px;
            border-radius: 50%;
        }
        .hero-body{
            .title{
                margin-top: 25px;
            }
            .subtitle{
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }
}

/*The below is for the Exercises Page only*/
#exercises {
    /*ERIK's styles*/
    .exe_menu {
        margin-top: 30px;
        margin-left: 40px;
    }

    .exe_content {
        margin-top: 48px;
        min-height: 500px;
        border: 1px solid lightgray;
        border-radius: 4px;
        margin-right: 60px;
        padding: 18px 24px;;
    }
}

/*The below is for the News Page only*/
#news {}

/*The below is for the Videos Page only*/
#videos {}
