/*demo*/
#exercises {
  .exercises h2 {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    font-size: 18px !important;
    color: rgb(130,130,130) !important;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
}
